/* Sass Variables */
/* gantt styles */
.gantt {
  position: relative;
  overflow: hidden;
  background-color: white;
  color: #5a6166;
  padding: 0;
 }

.gantt * {
  font-weight: normal;
  margin: 0;
  padding: 0; }

.gantt li {
  list-style: none; }

/* optional title */
.gantt figcaption {
  /*position: absolute;
  top: 25px;
  left: 20px;*/
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  /*letter-spacing: 4px;*/
}

/* sidebar */
.gantt aside {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  border-bottom: 1px solid #474747;
  border-top: 1px solid transparent;
  /*border-right: none;*/
  width: 200px;
  /*border-left: 1px solid #474747;*/
  /*border-right: 1px solid #474747;*/
  z-index: 2; }


.gantt aside .gantt-labels {
 /* border-top: 1px solid #001f27;*/
 }

.gantt aside .gantt-title-label {
  border-bottom:1px solid #474747;
  position: relative;
  padding: 0 12px;
}

.gantt aside .gantt-tasktitle-label {
  border-bottom:1px solid #474747;
  background-color: #474747;
  padding: 0 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.gantt aside .gantt-tasktitle-label strong {
  display: table-cell;
  vertical-align: middle;
}

.gantt aside .gantt-label {
  border-left: 1px solid #474747;
  padding: 0 12px;
}

.gantt aside .gantt-label-last {
  padding-left: 12px;
  padding-bottom: 12px;
  border-left: 1px solid #474747;
}

.gantt aside .gantt-label strong {
  /*display: block;*/
  /*padding: 0 12px;*/
  /*color: #93a1a1;
  border-bottom: 1px solid #001f27;*/
   }

/* data section */
.gantt-data {
  position: relative;
  overflow-x: scroll;
  margin-left: 200px;
  white-space: nowrap;
  border: 1px solid #474747; }

/* data section header */
.gantt header .gantt-months {
  overflow: hidden;
  background-color: #e0e0e0;
  color: #171717;}

.gantt header .gantt-month {
  float: left;
  text-align: center; }

.gantt header .gantt-month strong {
  display: block;
  border-right: 1px solid #001f27;
  border-bottom: 1px solid #001f27; }

.gantt header .gantt-day span {
  text-indent: 0;
  background-color: #474747;
  color: white;
  text-align: center; }

.gantt header .gantt-day.today span {
  color: white;
  background-color:#e22121; }

/* data items */
.gantt-item {
  position: relative; }

.gantt-days {
  overflow: hidden;}

.gantt-day {
  float: left; }

.gantt-day span {
  display: block;
  border-right: 1px solid #001f27;
  border-bottom: 1px solid #001f27;
  text-indent: -6000px; }

.gantt-day.weekend span {
  background: #e0e0e0; }

/* data blocks */
.gantt-block {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 4px;
  border-radius: 3px;
  vertical-align: middle;
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.9) 0 2px 6px, rgba(255, 255, 255, 0.2) 0 1px 0 inset;
  opacity: .9; */}

.gantt-block-label {
  display: inline;
  color: white;
  padding: 5px 10px; }

/* block colors */
.gantt-block {
  background: #268bd2; }

.gantt-block.important {
  background: #dc4b14; }

.gantt-block.urgent {
  background: #d33682; }

/* today sign */
.gantt time {
  position: absolute;
  top: 0;
  width: 2px;
  background: #e22121;
  bottom: 0;
  z-index: 1000;
  text-indent: -6000px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px; }

.gantt time:before {
  position: absolute;
  content: "";
  top: 0;
  left: -4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e22121; }

/* scrollbar styles */
.gantt ::-webkit-scrollbar {
  background: #002b36;
  height: 10px; }

.gantt ::-webkit-scrollbar-thumb {
  background: #93a1a1;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset; }

/* selection styles */
.gantt ::-moz-selection {
  background: #fff;
  color: #000; }

.gantt ::selection {
  background: #fff;
  color: #000; }
